<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio - Mercy Developer</title>
    <link rel="stylesheet" href="">
    <style>
    </style>
</head>
<body class="font">

    <div class="cover">
        <h1>Mercy Developer</h1>
        <p>Servicios para todas tus necesidades informáticas.</p>
    </div>

    <br>
    <div class="container">
        <h2 class="text-center">Servicios Especializados</h2>
        <div class="card-group">
            <div class="card">
                <img src="assets/Instalación de Sistemas Operativos.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Instalación de Sistemas Operativos</h5>
                    <p class="card-text">Ofrecemos instalación y configuración de sistemas operativos para asegurar un funcionamiento óptimo de tu equipo.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/Instalación de Software de Oficina.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Instalación de Software de Oficina</h5>
                    <p class="card-text">Instalamos y configuramos software de oficina para que puedas ser más productivo en tu trabajo diario.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/Reparación de Computadoras.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Reparación de Computadoras</h5>
                    <p class="card-text">Brindamos servicios de reparación de computadoras para solucionar cualquier inconveniente técnico que puedas tener.</p>
                </div>
            </div>
        </div>
    </div>

<br>
</body>
</html>
