<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/logo_cft.jpg" alt="" width="100" height="50">
    </a>
      <a class="navbar-brand" routerLink="">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/ubicacion">Ubicanos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contacto">Contactanos</a>
              </li>
          </ul>
      </div>
      
  </div>
</nav>



<router-outlet></router-outlet>
<br>

<footer class="text-center">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="assets/logo_cft.jpg" alt="Logo" width="50" height="50">
    <div class="text-center">
      <p>&copy; 2024 Mercy Developer. Todos los derechos reservados.</p>
    </div>
    <div class="text-center">
      <p>Teléfono: <a href="tel:+1234567890">+123 456 7890</a></p>
    </div>
  </div>
</footer>

